/* Обнуляющие  */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #252B42;
    font-weight: 500;
    font-family: Montserrat;
    background: #FAFAFA;
}

/* Обнуляющие  */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Чтобы не писать по 20 раз container */
[class*='__container'] {
    max-width: 1046px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 15px;
}

/* Вспомогательный класс для адаптации изображений */
._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* Вспомогательный класс для адаптации изображений */

/* Header */

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 104px;
}

@media (max-width: 478.98px) {

    /* Мобилки */
    .header__container {
        min-height: 70px;
    }
}


.header__logo {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.1px;
    color: inherit;
}

.header__menu {
    margin: 0 0 0 133px;
}

@media (max-width: 991.98px) {

    /* Планшеты */
    .header__menu {
        margin: 0 0 0 80px;
    }
}

@media (max-width: 767.98px) {

    /* Мобилки */
    .header__menu {
        margin: 0 0 0 40px;
    }
}

@media (max-width: 478.98px) {

    /* Мобилки */
    .header__menu {
        margin: 0 0 0 20px;
    }
}


.menu {
    /* отступы безопасности, если заказчик вдруг добавит пункты в меню */
    padding: 5px 0;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;

}


.menu__item:not(:last-child) {
    margin: 0 21px 0 0;
}


.menu__link {
    color: #737373;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
}

@media (max-width: 478.98px) {

    /* Мобилки */
    .menu__link {
        font-size: 18px;
    }
}


/* Header */

/* Main */
.page {
    flex: 1 1 auto;
}

.page__services {
    margin: -111px 0 0 0;
    position: relative;
    z-index: 2;
}

.page__whoweare {}

.page__clients {}

/* Main */

/* Header */

.header-block {
    text-align: center;
    letter-spacing: 0.2px;
}

.header-block__title {
    font-weight: 700;
    line-height: 142%;
    font-size: 40px;
}



.header-block__title:not(:last-child) {
    margin: 0 0 10px 0;
}

.header-block__subtitle {
    line-height: 142%;
    color: #737373;
}

@media (max-width: 992px) {
    .header-block__title {
        font-size: 35px;
    }
}

@media (max-width: 767px) {
    .header-block__title {
        font-size: 30px;
    }
}

/* Header */


.main-block {
    position: relative;
}


.main-block__body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 400px;
}

@media (max-width: 991.98px) {
    .main-block__body {
        padding: 120px 0 191px 0;
    }
}

@media (max-width: 478.98px) {
    .main-block__body {
        padding: 115px 0 165px 0;
    }
}

.main-block__body>*:not(:last-child) {
    margin: 0 0 35px 0;
    /* Обратиться ко всем элементам первого уровня, кроме последнего */
}

.main-block__title {
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    font-weight: 800;
    letter-spacing: 0.2px;
}

@media (max-width: 478.98px) {
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__text {
    font-weight: 500;
    font-size: 20px;
    color: #737373;
    line-height: calc(30 / 20 * 100%);
}

@media (max-width: 478.98px) {
    .main-block__text {
        color: #585656;
    }
}

.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}

.main-block__button {
    background-color: #ff7b47;
    border-radius: 37px;
    display: flex;
    letter-spacing: 0.2px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: calc(28 / 14 * 100%);
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    min-height: 48px;
    margin: 10px 0;
}

@media (max-width: 478.98px) {
    .main-block__button {
        flex: 1 1 100%;
    }
}

@media (min-width: 478.98px) {
    .main-block__button:not(:last-child) {
        margin-right: 10px;
    }
}

.main-block__button_border {
    background-color: transparent;
    border-radius: 37px;
    display: flex;
    color: #0D5C63;
    letter-spacing: 0.2px;
    border: 1px solid #0d5c63;
    font-weight: 700;
    text-align: center;
    line-height: calc(28 / 14 * 100%);
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    min-height: 48px;
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 1299.98px) {
    .main-block__image img {
        object-position: right;
    }
}

@media (max-width: 991.98px) {
    .main-block__image img {
        opacity: 0.5;
    }
}

/* Services */


@media (min-width: 670px) {
    .services__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
}

.services__column {
    flex: 0 1 33.333%;
}


@media (min-width: 670px) {
    .services__column {
        padding: 0 15px;
    }
}

@media (max-width: 992px) {
    .services__column {
        flex: 0 1 50%;
    }

    .services__column:not(:last-child) {
        margin: 0 0 30px 0;
    }

    .services__column:last-child {
        flex: 1 1 100%;
    }
}

.services__item {
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background: #FFFFFF;
    padding: 35px;
}

@media (max-width: 479px) {
    .services__item {
        padding: 25px;
    }
}

.item-service>*:not(:last-child) {
    margin: 0 0 10px 0;
}

.item-service__green {
    background-color: #0D5C63;

}

.item-service__green .item-service__title {
    color: #fff;
}

.item-service__green .item-service__text {
    color: #fff;
}

.item-service__title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.1px;
    line-height: calc(32 / 24 * 100%);
}

.item-service__text {
    color: #737373;
    line-height: 142%;
}

/* Services */

/* Advantages */



.adventages {
    padding: 80px 0;
}

@media (max-width: 992px) {
    .adventages {
        padding: 50px 0;
    }
}

@media (max-width: 767px) {
    .adventages {
        padding: 30px 0;
    }
}

.adventages__header {
    margin: 0 0 50px 0;
}

@media (max-width: 767px) {
    .adventages__header {
        margin: 0 0 25px 0;
    }
}

.adventages__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
}

.adventages__column {
    padding: 0 15px;
    margin: 0 0 30px 0;
    flex: 0 1 25%;
}

@media (max-width: 1020px) {
    .adventages__column {
        flex: 0 1 50%;
    }
}

@media (max-width: 560px) {
    .adventages__column {
        flex: 0 1 100%;
    }
}

.adventages__item {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    font-weight: 700;
}

.adventages__item>*:not(:last-child) {
    margin: 0 0 10px 0;
}

.adventages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.adventages__value {
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
    color: #252b42;
}

.adventages__text {
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    color: #737373;
    letter-spacing: 0.1px;
}

/* Advantages */


/* Practice */


.practice {
    padding: 125px 0 80px 0;
}

@media (max-width: 993px) {
    .practice {
        padding: 40px 0 80px 0;
    }
}

@media (max-width: 767px) {
    .practice {
        padding: 0px 0 40px 0;
    }
}

.practice__header {
    margin: 0 0 45px 0;
}

@media (max-width: 767px) {
    .practice__header {
        margin: 0 0 25px 0;
    }
}

.practice__body {
    margin: 0 -20px -30px;
    display: flex;
    flex-wrap: wrap;

}

.practice__column {
    padding: 0 20px;
    flex: 0 1 25%;
    margin: 0 0 30px 0;
    background-color: #fff;
}

@media (max-width: 1040px) {
    .practice__column {
        flex: 0 1 50%;
    }
}

@media (max-width: 630px) {
    .practice__column {
        flex: 0 1 100%;
    }
}

.item-practice {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.item-practice__content {
    padding: 30px;
    flex: 1 1 auto;
}

.item-practice__link {
    color: inherit;
    display: inline-block;
}

.item-practice__link:hover {
    text-decoration: underline;
    color: #494444;
}

.item-practice__link:not(:last-child) {
    margin: 0 0 15px 0;
}

.item-practice__title {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    letter-spacing: 0.1px;
}


.item-practice__text {
    color: #737373;
    line-height: calc(20 / 14 * 100%);
}

.item-practice__image {
    display: block;
    padding: 0 0 calc(138 / 230 * 100%) 0;
}

/* Practice */

/* Whoweare */



.whoweare {
    padding: 80px 0 130px 0;
    background-color: #fff;
}

.whoweare__header {
    margin: 0 0 100px 0;
}

.whoweare__body {
    display: flex;
    align-items: flex-start;
}

.whoweare__video {
    flex: 0 0 calc(600 / 1046 * 100%);
    position: relative;
    padding: 0 0 calc(442 / 1046 * 100%) 0;
}

.whoweare__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}


.whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0 0 121px;
}


.whoweare__title {
    font-weight: 800;
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
    letter-spacing: 0.2px;
}

.whoweare__title:not(:last-child) {
    margin: 0 0 10px 0;
}

.whoweare__text {
    color: #737373;
    line-height: calc(20 / 14 * 100%);
}

.whoweare__items {
    margin: 50px 0 0 0;
}

.whoweare__item:not(:last-child) {
    margin: 0 0 30px 0;
}

.item-whoweare {
    display: flex;
}

.item-whoweare__icon {
    flex: 0 1 32px;
}

.item-whoweare__body {
    flex: 1 1 auto;
    padding: 0 0 0 20px;
}

.item-whoweare__title {
    font-weight: 700;
    font: 16px;
    line-height: calc(24 / 16 * 100%);
}

.item-whoweare__title:not(:last-child) {
    margin: 0 0 5px 0;
}

.item-whoweare__text {
    color: #737373;
    white-space: nowrap;
    line-height: 142%;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 225px;
}

@media (max-width: 1080px) {
    .whoweare__content {
        padding: 0px 0 0 50px;
    }
}

@media (max-width: 950px) {
    .whoweare {
        padding: 50px 0 50px 0;
    }

    .whoweare__body {
        flex-direction: column-reverse;
        align-items: stretch;
    }

    .whoweare__title {
        font-size: 24px;
        text-align: center;
    }

    .whoweare__text {
        text-align: center;
    }

    .whoweare__header {
        margin: 0 0 30px 0;
    }

    .whoweare__content {
        padding: 0;
    }

    .whoweare__video {
        padding: 0 0 calc(315 / 560 * 100%) 0;
    }

    .whoweare__video:not(:last-child) {
        margin: 50px 0 0 0;
    }
}


@media (max-width: 767px) {
    .whoweare {
        padding: 15px 0 50px 0;
    }

    .whoweare__video:not(:last-child) {
        margin: 30px 0 0 0;
    }
}

/* Whoweare */

/* Clients */

.clients {
    padding: 50px 0;
}

@media (max-width:767px) {
    .clients {
        padding: 30px 0;
    }

}

.clients__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.clients__item {
    padding: 8px 15px;
    flex: 0 1 16.667%;
    text-align: center;
    min-width: 140px;
}

.clients__item img {
    max-width: 100%;
}

/* Clients */